header
  a(href='/locations/' + city.id)
    h2.name= city.name

  section.weathers
    each weather in city.weather
      section.weather
        img(src=weather.iconUrl)
        h3= weather.main
  p.temperature
    | #{sprintf('%0d', city.main.temp)}
    span.unit &deg;C

  footer
    | Humidity: #{city.main.humidity},
    | Pressure: #{city.main.pressure},
    | Wind Speed: #{city.wind.speed}
