extends layout

block nav-main
  h1= city.name

block nav-actions
  a(href='/')
    i.icon-home.icon    

block content
  each day in days
    article.city.row
      header
        h3.name= day.date
      
        i.emoticon
            img(src=day.iconUrl)
        
      footer
        | Max: #{day.temp.max},
        | Min: #{day.temp.min},
        

block scripts
  script(src='/scripts/details.js')
