!!! 5
html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='../../assets/ico/favicon.png')
  title= title

  link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
  link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')

  link(href='/stylesheets/app.css', rel='stylesheet')

body
  .container
    header.main-navigation.row
      .col-xs-6.col-sm-6.col-md-9.col-lg-9
        block nav-main
      nav.actions.col-xs-6.col-sm-6.col-md-3.col-lg-3
        block nav-actions
    block content

  script(src='/scripts/jquery.min.js')
  script(src='/scripts/amplify.min.js')
  script(src='/scripts/geo.js')
  script(src='/scripts/locationHistory.js')
  block scripts



