extends layout

block nav-main
  form(action = '/search', method='get')
    input.input-lg.form-control(id='location', name="location", type='text' value='', placeholder='Search...')

block nav-actions
  a(href='/')
    i.icon-home.icon

block content
  ul.search-results
    each city in cities
      li.city.row
        a(href='/locations/' + city.id)= city.name + ' (' + city.sys.country + ')'