extends layout

block nav-main
  h1 weather

block nav-actions
  a(href='/search')
    i.icon-search.icon
  a(href='#')
    i.icon-camera-retro.icon

block content
  .history

  article.section-title.row Nearby

  each city in nearby
    article.city.row
      include partials/cityContents

block scripts
  script(src='/scripts/prependHistory.js')