body {
    background: #eeeeee;
    font-size: 14px;
}

.main-navigation,
article.city,
li.city,
.section-title,
.in-history {
    background: #ffffff;
    padding: 2rem 3rem;
    margin-bottom: 1.5rem;
}

.main-navigation h1,
.main-navigation nav {
    font-size: 150%;
    margin: 0;
    line-height: 1em;
}

.main-navigation h1 {
    color: #428bca;
}

nav.actions {
    float: right;
    text-align: right;
}

nav.actions a {
    display: inline-block;
    margin: 0 1rem;
    text-decoration: none;
}

.section-title {
    font-size: 125%;
    text-align: center;
    color: #bbbbbb;
    background: none;
    padding: 0;
}

.in-history {
    background-color: #fffdc7;
    text-align: center;
}

.in-history a {
    display: inline-block;
    margin: 0 1em 0 0;
}

article.city .name,
li.city {
    font-size: 200%;
    font-weight: bold;
}

article.city .name {
    margin: 0;
}

article.city .temperature {
    font-size: 400%;
    font-weight: bold;
    margin: 0;
}

article.city .temperature .unit {
    margin-left: .3em;
    font-size: 50%;
    vertical-align: text-top;
}

article.city .weathers {
    float: right;
}

article.city .weather img,
article.city .weather h3 {
    display: inline-block;
    margin-right: .2em;
    font-size: 150%;
}

article.city .emoticon {
    float: right;
}

article.city:after {
    content: '';
    clear: both;
}

.search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}
